html {
  font-size: 17px;
}
/* @media (max-width: 900px) { */
/*   html { font-size: 15px; } */
/* } */
/* @media (max-width: 400px) { */
/*   html { font-size: 13px; } */
/* } */

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #282828;
  background: #E5E5E5;
}

h1 {
  font-size: 2em;
  border-bottom: 8px solid #D2B48C;
  padding-bottom: 0.3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a:link {
  color: #841F84;
}
a:active {
  color: #841F84;
}
a:visited {
  color: #841F84;
}
a:hover {
  color: #841F84;
}

code {
  font-family: 'Inconsolata', monospace;
}

header {
  height: 4em;
  background: #155915;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav a {
  font-size: 3em;
}
header nav a:link {
  color: #FFF;
  text-decoration: none;
}
header nav a:active {
  color: #FFF;
  text-decoration: none;
}
header nav a:visited {
  color: #FFF;
  text-decoration: none;
}
header nav a:hover {
  color: #FFF;
  text-decoration: none;
}

main {
  padding: 0.7em;
  margin: 0 auto;
  max-width: 60em;
  background: #FFF;
  filter: drop-shadow(0 0 4px rgba(0,0,0,0.25));
}

article {
  margin-top: 1em;
}

article section {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

article section p {
  font-weight: 300;
  line-height: 1.2em;
}

article section h2 {
  font-weight: 300;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

article section h3 {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

article section ul {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

article section ul {
  list-style: disc outside none;
  padding-left: 2em;
}

article section ul li::marker {
  margin: 0 0.5rem 0 0;
  color: #D2B48C;
}

article section pre {
  padding: 0.3em 0.5em;
}

article section p > code {
  background: #EAEAEA;
}
