$if(preface)$

$if(toc)$
<nav id="toc" class="card">
	<h1>Lessons</h1>
	<ul>
		$for(toc)$
		<li>
			<a href="$url$">
				$lessonNumber$. $title$
			</a>
		</li>
		$endfor$
	</ul>
</nav>
$endif$
<article class="card">
	<section id="lesson-body">$body$</section>
	$if(firstLessonUrl)$$if(firstLessonTitle)$
	<section id="prev-and-next-links">
		<div>
			<a id="next-link" href="$firstLessonUrl$">
				<div>
					<p>First lesson</p>
					<h2>$firstLessonTitle$</h2>
				</div>
				<i class="fas fa-arrow-right"></i>
			</a>
		</div>
	</section>
	$endif$$endif$
	<section id="back-to-top"><a href="#top">Top</a></section>
</article>

$else$

$body$
<section id="prev-and-next-links">
	<div>
		$if(nextLessonUrl)$$if(nextLessonTitle)$
		<a id="next-link" href="$nextLessonUrl$">
			<div>
				<p>Next lesson</p>
				<h2>$nextLessonTitle$</h2>
			</div>
			<i class="fas fa-arrow-right"></i>
		</a>
		$endif$$endif$
	</div>
	<div>
		$if(prevLessonUrl)$$if(prevLessonTitle)$
		<a id="prev-link" href="$prevLessonUrl$">
			<i class="fas fa-arrow-left"></i>
			<div>
				<p>Prev lesson</p>
				<h2>$prevLessonTitle$</h2>
			</div>
		</a>
		$endif$$endif$
	</div>
</section>
<section id="back-to-top"><a href="#top">Top</a></section>
</article>

$endif$
